.marketing {
    display: flex;
    align-items: center;
    padding-top: 2vw;
    padding-bottom: 2vw;
    background-color: rgba(80, 80, 80, 0.3);
    backdrop-filter: blur(10px) ;
    width: 90vw;
    margin: 0 auto;
    margin-top: 5vw;
    border-radius: 2vw;
    }
    
    .marketing .marketing-title {
        transform: rotate(-90deg);
        text-align: center;
        width:20vw;

    }
    
    .marketing .marketing-title h2 {
        margin-bottom: 0;
        margin-top: -0.5vw;
        color: rgb(255, 194, 170);
        font-size: 3vw;
    }
    
    .marketing .marketing-info {
        text-align: start;
        width: 40vw;
    }
    
    .marketing .marketing-info p {
        color: rgb(228, 228, 228);
    
        font-size: 2vw;
    }
    

    @media (max-width: 600px) {

        .marketing {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 5vw;
            padding-bottom: 5vw;
            margin-top: 20vw;
            border-radius: 2vw;
            width: 95vw;
            }
    
        .marketing .marketing-title {
            transform: rotate(0deg);
            width:100%;
            display: flex;
            gap: 2vw;
            justify-content: center;
        }
            
            .marketing .marketing-title h2 {
                font-size: 8vw;
            }
    
            .marketing .marketing-info p {
                font-size: 4vw;
            }
            .marketing .marketing-info {
                text-align: center;
                width: 90vw;
            }
    }