.hero {
	animation: hero-show  1s ease forwards;
	width: 100%;
	text-align: start;
	margin-left: 7vw;
}

.title h1 {
	color: #E9E9E9;
	font-size: 6vw;
	letter-spacing: -0.3vw;
	width: 100%;
	margin: 0;
}


.text {
	display: flex;
	overflow: hidden;
	width: 100%;
	height: 8vw;
}

.title h2 {
	background: linear-gradient(to right, #B05C86, #FEB6B5);
	font-size: 6vw;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-right: 0.5vw;
	margin: 0;
}

.title .moving-text-bottom h2 {
	background: linear-gradient(to right, #FEB6B5, #B05C86);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	padding-right: 0.3vw;
}


.moving-text-top,
.moving-text-bottom {
	margin-left: 1.7vw;
	animation: animation-title 9s ease infinite;
}


@keyframes animation-title {
	0% {
		transform: translateY(0%);
	}	
	5% {
		transform: translateY(-94%);
	}
	40% {
		transform: translateY(-94%);
	}
	45% {
		transform: translateY(-188%);
	}
	70% {
		transform: translateY(-188%);
	}
	75% {
		transform: translateY(-282%);
	}
	
	100%{
		transform: translateY(-282%);
	}
	
}


@media (max-width: 600px) {

	.hero {
		margin-left: 0;
	}

	.text {
		justify-content: center;
	height: 12vw;

	}
	
	.title h1 {
		color: #E9E9E9;
		font-size: 9vw;
		letter-spacing: -0.3vw;
		width: 100%;
		margin: 0;
	}

	.title h2 {
		color: #E9E9E9;
		font-size: 9vw;
		letter-spacing: -0.3vw;
		width: 100%;
		margin: 0;
	
	}




}