.hero {
	animation: hero-show  1s ease forwards;
	text-align: start;
	margin-left: 7vw;
}

.title h1 {
	color: #E9E9E9;
	font-size: 6vw;
	letter-spacing: -0.3vw;
	margin: 0;
}


.text {
	overflow: hidden;
	height: 8vw;
}

.title h2 {
	background: linear-gradient(to right, #B05C86, #FEB6B5);
	font-size: 6vw;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 25vw;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.title .moving-text-bottom h2 {
	background: linear-gradient(to right, #FEB6B5, #B05C86);
	font-size: 6vw;
	color: #fff;
	background-clip: text;
	background-size: 22vw;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}


.moving-text-top {
	margin-left: 30vw;
	animation: animation-title 9s ease infinite;
}
.moving-text-bottom {
	margin-left: 12vw;
	animation: animation-title 9s ease infinite;
}


@keyframes animation-title {
	0% {
		transform: translateY(0%);
	}	
	5% {
		transform: translateY(-25%);
	}
	40% {
		transform: translateY(-25%);
	}
	45% {
		transform: translateY(-50%);
	}
	70% {
		transform: translateY(-50%);
	}
	75% {
		transform: translateY(-75%);
	}
	
	100%{
		transform: translateY(-75%);
	}
	
}


@media (max-width: 600px) {

	.hero {
		animation: hero-show  1s ease forwards;
	margin-left: 9vw;

	}
	
	.title h2,
	.title .moving-text-bottom h2  {
		font-size: 9vw;
	}
	.title h1 {
		font-size: 9vw;
	}
	.text {
		height: 12vw;
	}

	.moving-text-top {
		margin-left: 47vw;
		animation: animation-title 9s ease infinite;
	}
	.moving-text-bottom {
		margin-left: 18vw;
		animation: animation-title 9s ease infinite;
	}
	
	
}