.hero {
	animation: hero-show  1s ease forwards;
	text-align: start;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}
.title h1 {
	color: #E9E9E9;
	font-size: 6vw;
	letter-spacing: -0.3vw;
	margin: 0;
}


.text {
	overflow: hidden;
	height: 8vw;
}

.title h2 {
	background: linear-gradient(to right, #B05C86, #FEB6B5);
	font-size: 6vw;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 25vw;
	-webkit-text-fill-color: transparent;
	margin: 0;
}

.title .moving-text-bottom h2 {
	background: linear-gradient(to right, #FEB6B5, #B05C86);
	font-size: 6vw;
	color: #fff;
	background-clip: text;
	background-size: 22vw;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
}


.moving-text-top {
	margin-left: 30vw;
	transform: translateY(-25%);
	animation: animation-title 7s ease infinite 1.5s;
}
.moving-text-bottom {
	margin-left: 12vw;
	transform: translateY(-25%);
	animation: animation-title 7s ease infinite 1.5s;
}

/* -------------cards------------- */
.cards {
	margin-top: 100px;
	display: flex;
	gap: 5vw;
	justify-content: center;
}
.card {
	border-radius: 1vw;
	width: 20vw;
	background: linear-gradient(45deg, rgba(255, 127, 0, 0.2), rgba(255, 26, 140, 0.2));
	backdrop-filter: blur(10px);
	text-align: center;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.15);
	cursor: pointer;
	transition: all 0.3s ease;
}

.card h2 {
	font-size: 2vw;
	color: #e3e3e3;
	font-weight: 300;
}

.card:hover{
	filter: brightness(1.5) saturate(0.5);
	box-shadow: 0 8px 30px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.15);
	transition: all 0.2s ease;
	scale: 1.1;
}

.card:hover h2 {
	transition: all 0.2s ease;
	font-weight: 400;
  }

/* -------------end cards------------- */


@keyframes animation-title {
	0% {
		transform: translateY(-25%);
	}	
	5% {
		transform: translateY(-50%);
	}
	40% {
		transform: translateY(-50%);
	}
	45% {
		transform: translateY(-75%);
	}
	70% {
		transform: translateY(-75%);
	}
	75% {
		transform: translateY(-100%);
	}
	
	100%{
		transform: translateY(-100%);
	}
	
}


@media (max-width: 600px) {

	.hero {
		animation: hero-show  1s ease forwards;
	}
	
	.title h2,
	.title .moving-text-bottom h2  {
		background-size: 50vw;
		font-size: 9vw;
		font-weight: 600 ;

	}
	.title h1 {
		font-weight: 400 ;
		font-size: 9vw;
		background-size: 30vw;

	}
	.text {
		height: 12vw;
	}

	.moving-text-top {
		margin-left: 47vw;
		animation: animation-title 9s ease infinite;
	}
	.moving-text-bottom {
		margin-left: 18vw;
		animation: animation-title 9s ease infinite;
	}
	

	/* -------------cards------------- */
.cards {
	margin-top: 90px;
	flex-direction: column;
	gap: 7vw;
	justify-content: center;
}
.card {
	border-radius: 1vw;
	width: 80vw;
}


.card h2 {
	font-size: 5vw;
	font-weight: 300 ;

}
/* -------------end cards------------- */
	
}