.top-nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	animation: nav-show  1s ease forwards;
	padding-top: 2vw;
	padding-bottom: 1vw;
	width: 100%;
	z-index: 2;
	transition: all 0.2s;
}

.scroll-down{
	backdrop-filter: blur(15px);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 0 5px rgba(0,0,0,0.15);

	transition: all 0.2s;


} 
.logo-mini {
	width: 30%;
}

.logo-mini img{
	width: 30%;
	transform: translateX(-80%);
}

.menu-desktop {
	display: flex;
	width: 40%;
	color: white;
	
	justify-content: space-around;}

.get-in-touch-button {
	display: flex;
	justify-content: center;
	width: 30%;
}

.get-in-touch-button a{
	transform: translateX(70%);
	font-family: 'NATS',sans-serif;
	font-weight: bold;
	font-size: 1.2vw;
	width: 11vw;
	color: white;
	border-radius: 1.5vw;
	background-image: linear-gradient(to right, rgba(181, 98, 137, 0.6), rgba(239, 157, 134, 0.6));
	box-shadow: 0 ;
	filter: brightness(1);
	transition: all 0.3s ease;
}

.get-in-touch-button a:hover {
	filter: brightness(1.7) ;
	color: rgb(16, 16, 16);
	transition: all 0.3s ease;
}

.menu-desktop a {
	border-radius: 0.5vw;
	font-size: 1.7vw;
	background-image: transparent;
	padding: 5px 15px;
	transition: all 0.1s ease;
}
.menu-desktop a:hover {
	background-image: linear-gradient(to right, rgba(181, 98, 137, 0.2), rgba(239, 157, 134, 0.2));
	font-size: 1;
	scale: 1.1;
	font-weight: 300;
	transition: all 0.1s ease;
}
@keyframes nav-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 450px) {

	.bottom-nav {
		position: fixed;
		color: white;
		bottom: 10vw;
		margin-left: 80vw;
		animation: nav-show  1s ease forwards;
	}
	
	.logo-mini {
		display: flex;
		justify-content: start;	
		width: 100%;
	}
	
	.logo-mini img{
		transform: translateX(0%);
		margin-left: 5vw;
		width: 70%;
	}

	.top-nav {
		margin-top: 5vw;
	}

	.get-in-touch-button a{
		margin-right: 5vw;
		transform: translateX(0%);
		font-size: 4vw;
		width: 30vw;
		color: white;
		border-radius: 10vw;
		background-image: linear-gradient(to right, rgba(181, 98, 137, 0.8), rgba(239, 157, 134, 0.8))
	}
	.get-in-touch-button {
		display: flex;
		justify-content: end;	
		width: 100%;
	}

}