.nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	animation: nav-show  1s ease forwards;
	margin-top: 2vw;
	width: 100%;
}


.logo-mini {
	width: 30%;
}

.logo-mini img{
	width: 30%;
	transform: translateX(-80%);
}

.menu-desktop {
	display: flex;
	width: 40%;
	color: white;
	font-size: 1.7vw;
	justify-content: space-around;}

.get-in-touch-button {
	display: flex;
	justify-content: center;
	width: 30%;
}

.get-in-touch-button a{
	transform: translateX(70%);
	font-family: 'NATS',sans-serif;
	font-weight: bold;
	font-size: 1.2vw;
	width: 11.5vw;
	color: white;
	border-radius: 1.5vw;
	background-image: linear-gradient(to right, rgba(181, 98, 137, 0.8), rgba(239, 157, 134, 0.8))
}

@keyframes nav-show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}